<!DOCTYPE html>
<html lang="UTF-8">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-egde">
    <title>Lectura</title>
    <!-- Bootstrap 4 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<head>

<!--Cuerpo P치gina -->
<body>

<div class="navbar navbar-dark bg-dark p-3" style="color: white;">
    <h3> Lectura Base de Datos </h3>
</div>

<div class="container center-h center-v">
    <div class="table-responsive-sm" style="width: 750">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Identificaci칩n</th>
                    <th>Tipo de Identificaci칩n</th>
                    <th>Primer Nombre</th>
                    <th>Segundo Nombre</th>
                    <th>Primer Apellido</th>
                    <th>Segundo Apellido</th>
                    <th>Direcci칩n</th>
                    <th>Celular</th>
                    <th>Ciudad</th>
                    <th>Salario</th>
                </tr>
            </thead>
            <tbody>
                <script>
                    for (const i of modelo){
                        <tr>
                            <td>i.IDENTIFICACION</td>
                        </tr>
                    }
                </script>

            </tbody>
        </table>
    </div>
</div>

</body>
</html>