<!DOCTYPE html>
<html lang="UTF-8">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-egde">
    <title>API REST</title>
    <!-- Bootstrap 4 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<head>
<body>

<div class="navbar navbar-dark bg-dark p-3" style="color: white;">
    <h3> API REST </h3>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="card card-body">
                <p>CRUD Base de Datos</p>

                    <ul>
                        <li><a href="Leer">Visualizar Base de Datos</a></li>
                        <li><a href="Actualizar">Actualizar Base de Datos</a></li>
                        <li><a href="view/Registro">Crear Registro en la Base de Datos</a></li>
                        <li><a href="Eliminar">Eliminar Registro en la Base de Datos</a></li>
                    </ul>

            </div>
        </div>
    </div>
</div>
</body>
</html>